<tr>
    <td>
        <p><img src="/covers/{{comicName}}_cover" style="max-height:100%; max-width:100%"></p>
    </td>
    <td>
        <div class="centered">
            <p>{{comicName}}</p>
            <p>Rating: {{comicRating}}</p>
            <p>Size: {{comicSize}} MB</p>
            <div>
                <p>Tags: {{&comicTags}}</p>
            </div>
            <p><a href="{{comicLink}}">Open Comic</a></p>
            <p><a href="/comic/{{comicName}}">Open Comic Page</a></p>
        </div>
    </td>
</tr>