<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>{{title}}</title>
</head>
<body>
    <p>Version: {{version}}</p>
    <p>Built: {{built}}</p>
    <p>Total Comics indexed: {{totalComics}}</p>
    <p><a href="/comics">Broswe comics</a></p>
</body>
</html>